@import './components/Navbar';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #F3F3F3 !important;
}

.LandingPage {
  .buttonGroup h3 {
    padding-top: 2rem;
  }
}
.sideNav{
  background-color: #0F61A9;
  text-align: left;
  .list-group{
    a.list-group-item{
      border: none;
      color: white !important;
      background-color: #0F61A9;
      &.active {
        background-color: white;
        color:#0F61A9 !important;
      }
    } 

  }
  &.stickySideNav {
    position: sticky;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
  }
}


input.form-control {
  margin-bottom: 1rem;
}

.list-group-item {
  font-size: calc(1rem + 0.1vw);

}

button.btn-primary {
  color: #002D72;
  background-color:#F2A900;
  font-weight:600;
}

ul.editSection, ul.acknowledgeSection {
  .list-group-item-action {
    &:not(:first-child) {
      padding-left: 4rem;
    }
  }
}

.mdb-datatable .mdb-datatable-filter input{
  width: 100% !important;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
